.header{
    position: relative;
    grid-column: 1/-1;
    grid-row: 1/2;
    z-index: 2;
  
    
    display: grid;
 
    grid-template-columns:minmax(25rem, max-content);
   
    justify-content: center;
    align-content: center;

&__navbar{
        grid-row: 1/2;
        grid-column: 1/2;
        justify-self: start;
        align-self: center;
        
}

&__text{
    justify-self: center;
   align-self: center;
    font-family: inherit;
   font-size: 7rem;
   font-weight:bold;
   text-transform: uppercase;
   text-align: center;
   animation: text 3s 1;
   color:#fff;
   letter-spacing: 1rem;
    
   &--sub{
       justify-self: end;
       font-weight: 800;
       font-size: 4rem;
       color:rgba(192, 16, 16, 0.96);
       animation: text 3s 1;
       letter-spacing: 1rem;
   }
}
    

}



@keyframes text {
    0%{
        color: transparent;
        
    }
    35%{
       
        letter-spacing: 2rem;
    }
  
    80%{
       
        letter-spacing: 1rem;
    }
 
}

@keyframes sub {
    0%{
        color: transparent;
        
    }
    35%{
       
        color: transparent;
    }
  
    80%{
       
        letter-spacing: 1rem;
    }
 
}
