.pricing{
  background-color: antiquewhite;
  grid-column: 1/-1;
  margin-bottom: 10rem;
  
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content:center;
}
.pricing-table{

  border: 1px solid #C8C8C8;
  border-radius: 12px;
  background: white;
  text-decoration: none;
  margin: 2rem 7rem 2rem 7rem;
  transition: all 0.3s ease-in-out;
  
  &__header{
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    color: #fff ;
    background: $color-red;
  }
  &__price{
    text-align: center;
    color:  $color-red;
    padding: 2rem;
    margin: auto;
    font-size: 4rem;
    font-weight: 500;
  }
  &__button{
    text-align: center;
    display: block;
    background: $color-red;
    text-decoration: none;
    padding: 2rem;
    color: white;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    
    &:before{
      position: absolute;
      left: -5%;
      top: -30%;
      content: '';
      width: 90%;
      height: 220%;
      transform: rotate(-30deg);
      background: white;
      opacity: .3;
      transition: all 0.3s ease-in-out;
    }
    
     &:after{
        position: absolute;
        content: '>';
        top: 0;
        right: 0;
        font-size: 25px;
        padding: 15px;
        padding-right: 40px;
        color: white;
        opacity: 0;
       transition: all 0.3s ease-in-out;
      }
    
    &:hover{
      background:$color-red-dark;
    }
  }
  &__list{
    text-align: center;
    padding: 20px;
    color: #A0A0A0;
  
    li{
      list-style-type: none;
      padding: 15px;
      border-bottom: 1px solid #C8C8C8 ;
      
      &:last-child{
        border: none;
      }
    }
  }
  
  &:hover{
    box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.36);
    
    .pricing-table__button{
      padding-left: 0;
      padding-right: 35px;
     &:before{
        top: -80%;
        transform: rotate(0deg);
        width: 100%;
      }
      &:after{
        opacity: 1;
        padding-right: 15px;
      }
    }
  }
}
